@using MVC5OnlineTicariOtomasyon.Models.Classes;
@model List<Faturalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<h2>Departman Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <th> ID</th>
        <th> Seri No</th>
        <th> Sıra No</th>
        <th> Vergi Dairesi</th>
        <th> Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Detaylar</th>


    </tr>
    @foreach (var k in Model)
    {
        <tr>
           <td>@k.Faturaid</td>
            <td>@k.FaturaSeriNo</td>
            <td>@k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>100</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>


            <td><a href="/Departman/DepartmanSil/@k." class="btn btn-danger">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@k." class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary"> Departman Ekle</a></a>
